

.cart-icon {
    font-size: 15px;
    position: relative;
}

#cart-count {
    background-color:#025048;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    position: absolute;
    top: -10px;
    right: -10px;
}
.product-image{
    width: 60px;
}
h1{
    color: #025048;
    font-size: 50px;
    font-weight: 600;
    /* text-decoration: underline; */
    text-transform: capitalize;
    margin: 60px 60px;
}

.cart {
    /* margin-top: 10%; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.cart-table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
.cart-table th{
    background-color: #F1F4F1;
}

tbody{
    color: #025048;
    font-size: 20px;
    text-transform: capitalize;
    /* height: 60px; */
    
}

.cart-totals {
    
    padding: 20px;
    border: 1px solid #ccc;
    width: 30%;
}

.cart-totals h2 {
    margin-top: 0;
    color: #025048;
    font-size: 20px;

}
.cart-totals p{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;

}
.cart-totals button{
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid #025048;
    background-color: #025048;
    color: #fff;
    margin-right: 5px;
    cursor: pointer;


}
@media only screen and (max-width: 768px){
    .cart{
        display: block;
    }
    .cart-totals #clear-cart-btn{
    margin-top: 15px;
    margin-left: 15px;

    }
}

.product-image{
    width: 80px;
}