<footer>
    <div class="footer-nav">
        <a routerLink="/home" class="footer-logo">ceramicshop</a>
        <div class="nav-footer">
            <ul>
                <li><a routerLink="/home">home</a></li>
                <li><a routerLink="/about">about</a></li>
                <li><a routerLink="/shop">shop</a></li>
                <li><a routerLink="/contact">contact</a></li>
            </ul>
        </div>
        <i class="media">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </i>

    </div>
    <hr>
    <div class="footer-copy">
        <p class="footer-copy-p">&copy; All rights reserved  <i class="fa-regular fa-copyright"></i> 2024</p>
        <div class="nav-copy">
            <ul>
                <li><a routerLink="/home">home</a></li>
                <li><a routerLink="/about">about</a></li>
                <li><a routerLink="/shop">shop</a></li>
                <li><a routerLink="/contact">contact</a></li>
            </ul>
        </div>

        <button id="scroll-btn"><i class="fa-solid fa-angle-up"></i></button>


    </div>
</footer>